<h1>We are proud to announce Visslebator is live!!</h1>
<h2>Visslebator is a Seattle incubator that specializes in the grandiose</h2>
<p>Visslebator is currently seeking its first class of entrepreneurs. To apply please write to P.O. Box 1538 Yesler Ave. Attn. Jonathan Orton, Esq. Jon will write back to all applicants within 5-6 weeks with a selection decision.</p>
<p>Visslebator takes a 10% cut of all shares designated at initial incorporation. All entrepreneurs are prohibited from diluting Vissle's shares.</p>
<p>Selected participants will bunk together on the one sofa in the "office". They must also clean up after themselves and wash their own dishes. Also no stinking up Vissle's bathroom. </p>
<p>For the real time international news on Visslebator and other world events, click <%= link_to "here.", "http://www.nytimes.com" %> </p>
<iframe width="1280" height="720" src="//www.youtube.com/embed/LjBvuzav5ow?rel=0" frameborder="0" allowfullscreen></iframe>